body{
	margin : 0px;
	padding : 50px;
}


p{
	line-height :1.5;
}

p.example1 {
	word-spacing: 3em;
}

p.example2 {
	word-spacing: 3.1em;
}


.header {
	background-color : dimgray;
	width : 500px;
	margin : 0 auto;
}


input.example1 {
	width : 300px;
	border: 2px lightgrey solid;
}

input.example2 {
	width : 170px;
}
